* {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 15px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

#input-task {
    margin-right: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    vertical-align: bottom;
    outline: none;
    font-size: 20px;
}

#input-task::placeholder {
    font-size: 20px;
}

#add-task-button {
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
}

#add-task-button:hover {
    transition: all 0.3s;
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
}

#add-task-button:active {
    background-color: white;
}


.inputTask,
.taskList {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

ul {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 0;
}

li {
    margin: 10px;
    min-height: 20px;
    position: relative;
    border: 1px solid gray;
    padding: 10px;
}

.taskList {
    padding-top: 5px;
    width: 330px;
}

.delete-btn {
    height: auto;
    float: right;
    border: 0;
    background: white;
    color: red;
    padding: 4px 8px;
    cursor: pointer;
}

.delete-btn:hover {
    transition: all 0.3s;
    background-color: black;
    color: white;
}

.delete-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.task {
    padding-left: 10px;
    font-size: 21px;
}

.done {
    text-decoration: line-through;
}

/* для элемента input c type="checkbox" */
.check-btn {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;
    vertical-align: bottom;
    margin: 0;
    position: relative;
    bottom: 3px;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #adb5bd;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:hover::before {
    transition: border-color 0.3s;
    border-color: black;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:active::before {
    transition: all 0.1s;
    background-color: rgb(99, 196, 99);
    border-color: rgb(99, 196, 99);
}

/* стили для чекбокса, находящегося в состоянии checked */
.check-btn:checked + .custom-checkbox::before {
    transition: all 0.3s;
    border-color: white ;
    background-color: rgb(99, 196, 99);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}